.algo{
  background-color: #ef8172;
}
.title-img{
  width:100px;
  height: 75px;
  border-radius: 25%;
  position: relative;
  left: 650px;
}
#title p{
  display: inline;
}
#title{
  font-size: 2rem;
  font-family: "Ubuntu";
  font-weight: bold;
  background-color: #ff4c68;
  padding: 50px 20px 10px;
}
.section-heading{
  text-align: center;
  padding: 50px 0 50px;
}
.card{
  margin: 0 15px 20px 15px;
  text-align: center;
}
